<%- include("header") -%>
<h2>This is the about page</h2>
<p>This is some randomly generated lorem ipsum dolor amet. This is some randomly generated lorem ipsum dolor amet. This is some randomly generated lorem ipsum dolor amet. This is some randomly generated lorem ipsum dolor amet.</p>
<%- include("footer") -%>